<html>
<body>
	<a href='list/class'>View All classes</a><br>
	<a href='list/room'>View All Rooms</a><br>
	<a href='list/teacher'>View All Teachers</a><br>
	<a href='download/pdf/class/start'>Download All Classes Timetable PDF</a><br>
	<a href='download/pdf/room/start'>Download All Rooms Timetable PDF</a><br>
	<a href='download/pdf/teacher/start'>Download All teacher Timetable PDF</a><br>
	<a href='download/xl/class/start'>Download All Classes Timetable Excel</a><br>
	<a href='download/xl/room/start'>Download All Rooms Timetable Excel</a><br>
	<a href='download/xl/teacher/start'>Download All teacher Timetable Excel</a><br>

	
</body>
</html>